
body {
    padding-top: 85px;
}

#social .list-group-item {
    padding: 10px 10px !important;
}

.navbar-search {
    margin-top: 10px;
}

#tipue_search_input {
    width: 100%;
}

.search-query {
    border-radius: 4px !important;
}

.download {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.download h3 {
    margin-top: 0px;
}

.download .btn {
    margin: 5px;
}

.download a {
    width: 230px;
}

.currency_network {
    font-weight: bold;
    /*text-decoration: underline;*/
}

.entry-content p a, .entry-content ul a, .summary a {
    color: #4582ec !important;
}

.entry-content p a:hover, .entry-content ul a:hover, .summary a:hover {
    color: #134fb8;
}

blockquote {
    background-color: #f7f7f7;
    border-left: 5px solid #bad3ff;
    font-size: 16px;
}

@media (max-width:480px) {

    .thumbnail {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 10px;
        padding: 0;
        border: none;
        display: inline;
        float: left;
    }

    .thumbnail img {
        margin-top: 2px;
        width: 50px;
    }

    article > h2, article > .summary {
        margin-left: 0;
    }
}

@media (min-width:480px) {

    .thumbnail {
        margin: 0;
        padding: 0;
        border: none;
        display: inline;
        float: left;
    }

    .thumbnail img {
        width: 125px;
    }

    article > h2, article > .summary {
        margin-left: 160px;
    }
}

.summary {
    min-height: 50px;
}

.summary h3, .summary h2 {
    font-size: 20px;
    margin-left: 0;
}

#content img {
    /*border: 1px dashed grey;*/
}

#content .thumbnail {
    float: right;
}

#content .thumbnail img {
    height: 50px;
    width: auto;
}

img.credits {
    width: 50px;
}

.highlight pre {
    border: none;
}

#sidebar #github {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#github h5 {
    margin: 0;
}

#github a {
    color: white;
    font-weight: bold;
    width: 100%;
    font-size: 14px;
}

#github .list-group-item {
    text-align: center;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#sidebar section > ul {
    margin-bottom: 0px;
}

#licence_g1 {
    font-size: 42px;
    color: #4582ec;
}

.dashed {
    border: 1px dashed gray;
}

@media (max-width:992px) {

    .navbar-header a {
        /*padding-right: 0 !important;*/
    }

    .navbar-header img {
        margin-right: 0 !important;
    }

    #siteName {
        display: none;
    }

    .navbar-collapse li {
        /*max-width: 100px;*/
    }

    .navbar-collapse li a {
        margin-left: 0;
        margin-right: 0;
    }

    .nav.navbar-nav {
        width: 90%;
    }
}

.entry-content a {
    color: #4582ec;
}

.entry-content a:hover {
    color: #134fb8;
}

.icon img {
    width: 20px;
    margin-right: 3px;
}

img.screenshot {
    padding: 30px;
}

.flag-lang {
    margin-right: 10px;
    width: 45px;
}